/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env.dusk.local
.env.testing

database/factories/UserFactory.php

tests/DuskTestCase.php
tests/Browser/AuthenticatedTest.php
tests/Browser/LoginTest.php
tests/Browser/LogoutTest.php
tests/Browser/UserRegisterTest.php
